.react-calendar__tile--active {
  background: var(--accent);
  color: white;
}
.post-basic-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  padding-bottom: 2em;
}
.calendar {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
}
.calendar .react-calendar {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
