---
import BaseHead from '../components/BaseHead.astro';
import GoogleLoginButton from '../components/GoogleLoginButton.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<GoogleLoginButton client:load />
	</body>
</html>
